<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{.ErrorNr}}</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body id="error">
    <div id="errorInfo">
        <h1 id="errorNumber">{{ .ErrorNumber }}</h1>
        <p id="errorText1">{{ .ErrorText1 }}</p>
        <p id="errorText2">{{ .ErrorText2 }}</p>
    </div>
</body>
</html>